---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<div
		class="max-w-screen-xl px-4 py-16 mx-auto sm:py-24 lg:py-32 sm:px-6 lg:px-8"
	>
		<section class="py-16">
			<h1
				class="text-4xl font-extrabold text-center text-black sm:text-5xl lg:text-6xl dark:text-white"
			>
				Starter Astro
			</h1>
		</section>
	</div>
</BaseLayout>
