<footer
	class="absolute bottom-0 w-full max-w-screen-xl px-4 pb-px text-center transform -translate-x-1/2 left-1/2 sm:px-6 xl:px-8"
>
	<span class="text-sm text-neutral-800 dark:text-neutral-200">
		<span
			x-data="{ currentYear: new Date().getFullYear() }"
			x-text="currentYear"
			>0000</span
		>&nbsp;© Developed by
		<a
			href="https://mkfizi.dev"
			target="_blank"
			class="text-sm text-neutral-500 dark:text-neutral-400 hover:text-black hover:dark:text-white"
			>mkfizi</a
		>
	</span>
</footer>
