---
import Metadata from "../components/Metadata.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

import Site from "../site.mjs";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Metadata -->
		<Metadata />

		<!-- Scripts -->
		<script src="../js/index.js"></script>

		<!-- Below code must execute here to avoid FOUC. -->
		<script is:inline>
			// Handle dark mode toggle when the page is loaded.
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}

			// Workaround fix to handle viewport height issue on mobile browsers
			// https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser
			function resizeViewportHeight() {
				document.documentElement.style.setProperty(
					"--vh",
					window.innerHeight * 0.01 + "px"
				);
			}

			window.addEventListener("resize", resizeViewportHeight);
			resizeViewportHeight();
		</script>

		<title>{title && `${title} |`} {Site.name}</title>
	</head>
	<body
		class="relative min-h-screen antialiased bg-white dark:bg-neutral-950"
	>
		<!-- Navbar -->
		<Navbar />

		<!-- Content -->
		<main>
			<slot />
		</main>

		<!-- Footer -->
		<Footer />
	</body>
</html>
